$color3: #333;
$morado: #b23cfd;
$gris: #cecece;
$family: monospace, sans-serif;
a {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  font-family: $family;
  outline: none;

  &:hover {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    font-family: $family;
    outline: none;
  }
}
div,
img {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
}

button {
  outline: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
p,
strong {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: $family;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  .card {
    border-radius: 18px;
    width: 16rem;
    height: auto;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 0;
    box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &:nth-child(1) {
      animation: fadeIn 0.5s 0.5s backwards;
    }
    &:nth-child(2) {
      animation: fadeIn 0.5s 0.5s backwards;
    }
    &:nth-child(3) {
      animation: fadeIn 0.5s 0.5s backwards;
    }
    &:nth-child(4) {
      animation: fadeIn 0.5s 0.5s backwards;
    }
    &:hover {
      transform: scale(1.05);
    }

    .card-image {
      width: 100%;
      height: 16rem;
      object-fit: cover;
    }
    .info {
      padding: 12px;
      text-align: center;
      width: 100%;
      h1 {
        font-size: 1.8rem;
        color: $color3;
        margin: 1rem 0;
      }
      small {
        color: $morado;
        font-family: monospace, sans-serif;
        font-weight: 400;
      }
      .line {
        width: 100%;
        height: 1px;
        background-color: $gris;
      }
      .title {
        color: #777;
        font-size: 1rem;
        font-weight: 400;
      }
      .about {
        font-size: 0.9rem;
        line-height: normal;
        margin: 1rem 0;
        font-style: normal;
        text-align: center;
        font-weight: 300;
        color: $color3;
      }
      .favorites {
        width: 100%;
        height: 50px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 0.6rem 0 0 0;
        margin-top: 0.5rem;
        li {
          a {
            &:hover {
              color: #777;
            }
            i {
              font-size: 1rem;
              transition: color 0.5s;
              vertical-align: middle;
              color: $morado;
              margin-right: 4px;
              &:hover {
                color: $gris;
              }
            }
          }
        }
      }
    }
  }
}
.wraper
{
  width:100%
}

.btn-fav {
  padding: 0.8rem;
  background-color: #b23cfd;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 32px;
  width: 180px;
  &:hover {
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    color: #fafafa;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .btn-fav {
    padding: 0.5rem;
    width: 150px;
  }
}


